<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005255766300-t52olmed0s8ugkfarjgfrt083po4s902.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005255766300-t52olmed0s8ugkfarjgfrt083po4s902</string>
	<key>API_KEY</key>
	<string>AIzaSyAiTM9Aez5tFDC_5rIsWw2mI8n3kzllPO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1005255766300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditApp</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-33a05</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-33a05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005255766300:ios:0ab1363f1fedfcb8624ad9</string>
</dict>
</plist>